<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

In [34]:
!pip install yfinance==0.1.67
#!pip install pandas==1.3.3
#!pip install requests==2.26.0
!mamba install bs4==4.10.0 -y
#!pip install plotly==5.3.1

Requirement already satisfied: yfinance==0.1.67 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (0.1.67)
Requirement already satisfied: pandas>=0.24 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (1.3.5)
Requirement already satisfied: requests>=2.20 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (2.27.1)
Requirement already satisfied: lxml>=4.5.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (4.8.0)
Requirement already satisfied: multitasking>=0.0.7 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas>=0.24->yfinance==0.1.67) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas>=0.24->yfinance==0.1.67) (2022.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (2022.5.18.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (2.0.12)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance==0.1.67) (1.16.0)

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.15.3) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['bs4==4.10.0']

pkgs/main/linux-64       [>                   ] (--:--) No change
pkgs/main/linux-64       [====================] (00m:00s) No change
pkgs/r/noarch            [>                   ] (--:--) No change
pkgs/r/noarch            [====================] (00m:00s) No change
pkgs/r/linux-64          [>                   ] (--:--) No change
pkgs/r/linux-64          [====================] (00m:00s) No change
pkgs/main/noarch         [>                   ] (--:--) No change
pkgs/main/noarch         [====================] (00m:00s) No change

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  All requested packages already installed

In [35]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

## Define Graphing Function

In this section, we define the function `make_graph`. You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.

In [36]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [37]:
Tesla = yf.Ticker('TSLA')

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [38]:
Tesla_info = Tesla.info
print(Tesla_info)
Tesla_data = Tesla.history(period='max')
print(Tesla_data)

{'zip': '78725', 'sector': 'Consumer Cyclical', 'fullTimeEmployees': 99290, 'longBusinessSummary': 'Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. The company operates in two segments, Automotive, and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits. It provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; and purchase financing and leasing services. This segment is also involved in the provision of non-warranty after-sales vehicle services, sale of used vehicles, retail merchandise, and vehicle insurance, as well as sale of products to third party customers; services for electric vehicles through its company-owned service locations, and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners. This segment also offers service and repairs to its energy product customers, including under warranty; and various financing options to its solar customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was incorporated in 2003 and is headquartered in Austin, Texas.', 'city': 'Austin', 'phone': '(512) 516-8177', 'state': 'TX', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.tesla.com', 'maxAge': 1, 'address1': '13101 Tesla Road', 'industry': 'Auto Manufacturers', 'ebitdaMargins': 0.20424, 'profitMargins': 0.13505, 'grossMargins': 0.27096, 'operatingCashflow': 13850999808, 'revenueGrowth': 0.805, 'operatingMargins': 0.1549, 'ebitda': 12702000128, 'targetLowPrice': 67, 'recommendationKey': 'buy', 'grossProfits': 13606000000, 'freeCashflow': 7054624768, 'targetMedianPrice': 972, 'currentPrice': 703.55, 'earningsGrowth': 6.315, 'currentRatio': 1.354, 'returnOnAssets': 0.10118, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 922.22, 'debtToEquity': 19.841, 'returnOnEquity': 0.28261, 'targetHighPrice': 1620, 'totalCash': 18012999680, 'totalDebt': 7024999936, 'totalRevenue': 62189998080, 'totalCashPerShare': 17.387, 'financialCurrency': 'USD', 'revenuePerShare': 61.927, 'quickRatio': 0.953, 'recommendationMean': 2.5, 'exchange': 'NMS', 'shortName': 'Tesla, Inc.', 'longName': 'Tesla, Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'TSLA', 'messageBoardId': 'finmb_27444752', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 11.565, 'beta3Year': None, 'enterpriseToEbitda': 56.622, '52WeekChange': 0.16264272, 'morningStarRiskRating': None, 'forwardEps': 15.87, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 1036009984, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 32.901, 'sharesShort': 25651653, 'sharesPercentSharesOut': 0.0248, 'fundFamily': None, 'lastFiscalYearEnd': 1640908800, 'heldPercentInstitutions': 0.43117002, 'netIncomeToCommon': 8403999744, 'trailingEps': 7.4, 'lastDividendValue': None, 'SandP52WeekChange': -0.027914226, 'priceToBook': 21.383848, 'heldPercentInsiders': 0.17263001, 'nextFiscalYearEnd': 1703980800, 'yield': None, 'mostRecentQuarter': 1648684800, 'shortRatio': 0.92, 'sharesShortPreviousMonthDate': 1649894400, 'floatShares': 856800928, 'beta': 2.11875, 'enterpriseValue': 719217754112, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '5:1', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 6.575, 'priceToSalesTrailing12Months': 11.72029, 'dateShortInterest': 1652400000, 'pegRatio': 1.61, 'ytdReturn': None, 'forwardPE': 44.332073, 'lastCapGain': None, 'shortPercentOfFloat': 0.030299999, 'sharesShortPriorMonth': 24552598, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 775, 'regularMarketOpen': 729.675, 'twoHundredDayAverage': 913.8295, 'trailingAnnualDividendYield': 0, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 743.3899, 'navPrice': None, 'averageDailyVolume10Day': 33169550, 'regularMarketPreviousClose': 775, 'fiftyDayAverage': 892.666, 'trailingAnnualDividendRate': 0, 'open': 729.675, 'toCurrency': None, 'averageVolume10days': 33169550, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 700.2534, 'currency': 'USD', 'trailingPE': 95.07432, 'regularMarketVolume': 37464579, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 728884838400, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 27530085, 'dayLow': 700.2534, 'ask': 700.8, 'askSize': 800, 'volume': 37464579, 'fiftyTwoWeekHigh': 1243.49, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 582.88, 'bid': 700, 'tradeable': False, 'dividendYield': None, 'bidSize': 3200, 'dayHigh': 743.3899, 'regularMarketPrice': 703.55, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/tesla.com'}
                  Open        High         Low       Close    Volume  \
Date
2010-06-29    3.800000    5.000000    3.508000    4.778000  93831500
2010-06-30    5.158000    6.084000    4.660000    4.766000  85935500
2010-07-01    5.000000    5.184000    4.054000    4.392000  41094000
2010-07-02    4.600000    4.620000    3.742000    3.840000  25699000
2010-07-06    4.000000    4.000000    3.166000    3.222000  34334500
...                ...         ...         ...         ...       ...
2022-05-27  723.250000  759.799988  720.530029  759.630005  29765000
2022-05-31  773.840027  778.799988  734.229980  758.260010  33971500
2022-06-01  755.159973  771.979980  730.919983  740.369995  25749300
2022-06-02  732.469971  792.630005  726.200012  775.000000  31157700
2022-06-03  729.679993  743.390015  700.250000  703.549988  37348100

            Dividends  Stock Splits
Date
2010-06-29          0           0.0
2010-06-30          0           0.0
2010-07-01          0           0.0
2010-07-02          0           0.0
2010-07-06          0           0.0
...               ...           ...
2022-05-27          0           0.0
2022-05-31          0           0.0
2022-06-01          0           0.0
2022-06-02          0           0.0
2022-06-03          0           0.0

[3005 rows x 7 columns]

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [42]:
Tesla_data.head()

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage [https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue](https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2022-01-01). Save the text of the response as a variable named `html_data`.

In [43]:
url = 'https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2022-01-01'
html_data = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [44]:
soup = BeautifulSoup(html_data, 'html.parser')

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Quarterly Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [45]:
Tesla_data = pd.read_html(html_data)
tesla_revenue = Tesla_data[1]
print(tesla_revenue)

   Tesla Quarterly Revenue(Millions of US $)  \
0                                 2022-03-31
1                                 2021-12-31
2                                 2021-09-30
3                                 2021-06-30
4                                 2021-03-31
5                                 2020-12-31
6                                 2020-09-30
7                                 2020-06-30
8                                 2020-03-31
9                                 2019-12-31
10                                2019-09-30
11                                2019-06-30
12                                2019-03-31
13                                2018-12-31
14                                2018-09-30
15                                2018-06-30
16                                2018-03-31
17                                2017-12-31
18                                2017-09-30
19                                2017-06-30
20                                2017-03-31
21                                2016-12-31
22                                2016-09-30
23                                2016-06-30
24                                2016-03-31
25                                2015-12-31
26                                2015-09-30
27                                2015-06-30
28                                2015-03-31
29                                2014-12-31
30                                2014-09-30
31                                2014-06-30
32                                2014-03-31
33                                2013-12-31
34                                2013-09-30
35                                2013-06-30
36                                2013-03-31
37                                2012-12-31
38                                2012-09-30
39                                2012-06-30
40                                2012-03-31
41                                2011-12-31
42                                2011-09-30
43                                2011-06-30
44                                2011-03-31
45                                2010-12-31
46                                2010-09-30
47                                2010-06-30
48                                2010-03-31
49                                2009-12-31
50                                2009-09-30
51                                2009-06-30

   Tesla Quarterly Revenue(Millions of US $).1
0                                      $18,756
1                                      $17,719
2                                      $13,757
3                                      $11,958
4                                      $10,389
5                                      $10,744
6                                       $8,771
7                                       $6,036
8                                       $5,985
9                                       $7,384
10                                      $6,303
11                                      $6,350
12                                      $4,541
13                                      $7,226
14                                      $6,824
15                                      $4,002
16                                      $3,409
17                                      $3,288
18                                      $2,985
19                                      $2,790
20                                      $2,696
21                                      $2,285
22                                      $2,298
23                                      $1,270
24                                      $1,147
25                                      $1,214
26                                        $937
27                                        $955
28                                        $940
29                                        $957
30                                        $852
31                                        $769
32                                        $621
33                                        $615
34                                        $431
35                                        $405
36                                        $562
37                                        $306
38                                         $50
39                                         $27
40                                         $30
41                                         $39
42                                         $58
43                                         $58
44                                         $49
45                                         $36
46                                         $31
47                                         $28
48                                         $21
49                                         NaN
50                                         $46
51                                         $27

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [46]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

KeyError: 'Revenue'

Execute the following lines to remove an null or empty strings in the Revenue column.

In [47]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

KeyError: 'Revenue'

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [48]:
tesla_revenue.tail()

,Tesla Quarterly Revenue(Millions of US $),Tesla Quarterly Revenue(Millions of US $).1
46,2010-09-30,$31
47,2010-06-30,$28
48,2010-03-31,$21
50,2009-09-30,$46
51,2009-06-30,$27

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [13]:
GameStop = yf.Ticker('GME')

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [15]:
GameStop_info = GameStop.info
print(GameStop_info)
gme_data = GameStop.history(period='max')
print(gme_data)

{'zip': '76051', 'sector': 'Consumer Cyclical', 'fullTimeEmployees': 12000, 'longBusinessSummary': 'GameStop Corp., a specialty retailer, provides games and entertainment products through its e-commerce properties and various stores in the United States, Canada, Australia, and Europe. The company sells new and pre-owned gaming platforms; accessories, such as controllers, gaming headsets, virtual reality products, and memory cards; new and pre-owned gaming software; and in-game digital currency, digital downloadable content, and full-game downloads. It also sells collectibles comprising licensed merchandise primarily related to the gaming, television, and movie industries, as well as pop culture themes. As of January 29, 2022, the company operated 4,573 stores and ecommerce sites under the GameStop, EB Games, and Micromania brands; and 50 pop culture themed stores that sell collectibles, apparel, gadgets, electronics, toys, and other retail products under the Zing Pop Culture brand, as well as offers Game Informer, a print and digital video game publication featuring reviews of new releases, previews of the big titles on the horizon, and coverage of the latest developments in the gaming industry. The company was formerly known as GSC Holdings Corp. GameStop Corp. was founded in 1996 and is headquartered in Grapevine, Texas.', 'city': 'Grapevine', 'phone': '817 424 2000', 'state': 'TX', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.gamestop.com', 'maxAge': 1, 'address1': '625 Westport Parkway', 'industry': 'Specialty Retail', 'ebitdaMargins': -0.05618, 'profitMargins': -0.07729, 'grossMargins': 0.21534, 'operatingCashflow': -719400000, 'revenueGrowth': 0.08, 'operatingMargins': -0.06855, 'ebitda': -343400000, 'targetLowPrice': 23, 'recommendationKey': 'underperform', 'grossProfits': 1347800000, 'freeCashflow': -572687488, 'targetMedianPrice': 30, 'currentPrice': 133.7, 'earningsGrowth': None, 'currentRatio': 2.067, 'returnOnAssets': -0.092080005, 'numberOfAnalystOpinions': 3, 'targetMeanPrice': 54.33, 'debtToEquity': 42.531, 'returnOnEquity': -0.40546, 'targetHighPrice': 110, 'totalCash': 1035000000, 'totalDebt': 617000000, 'totalRevenue': 6112300032, 'totalCashPerShare': 13.665, 'financialCurrency': 'USD', 'revenuePerShare': 81.416, 'quickRatio': 1.01, 'recommendationMean': 4, 'exchange': 'NYQ', 'shortName': 'GameStop Corporation', 'longName': 'GameStop Corp.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'GME', 'messageBoardId': 'finmb_1342560', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 1.588, 'beta3Year': None, 'enterpriseToEbitda': -28.272, '52WeekChange': -0.5225171, 'morningStarRiskRating': None, 'forwardEps': -4.1, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 76129000, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 19.212, 'sharesShort': 15123772, 'sharesPercentSharesOut': 0.1993, 'fundFamily': None, 'lastFiscalYearEnd': 1643414400, 'heldPercentInstitutions': 0.28301, 'netIncomeToCommon': -472400000, 'trailingEps': -6.292, 'lastDividendValue': 0.38, 'SandP52WeekChange': -0.027914226, 'priceToBook': 6.9591923, 'heldPercentInsiders': 0.15958, 'nextFiscalYearEnd': 1706486400, 'yield': None, 'mostRecentQuarter': 1651276800, 'shortRatio': 5.7, 'sharesShortPreviousMonthDate': 1649894400, 'floatShares': 62820510, 'beta': -1.008035, 'enterpriseValue': 9708476416, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1174262400, 'lastSplitFactor': '2:1', 'legalType': None, 'lastDividendDate': 1552521600, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': None, 'priceToSalesTrailing12Months': 1.6652402, 'dateShortInterest': 1652400000, 'pegRatio': 0.52, 'ytdReturn': None, 'forwardPE': -32.609756, 'lastCapGain': None, 'shortPercentOfFloat': 0.22690001, 'sharesShortPriorMonth': 14128064, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 134, 'regularMarketOpen': 130, 'twoHundredDayAverage': 151.63425, 'trailingAnnualDividendYield': 0, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 138.1, 'navPrice': None, 'averageDailyVolume10Day': 5850510, 'regularMarketPreviousClose': 134, 'fiftyDayAverage': 130.4794, 'trailingAnnualDividendRate': 0, 'open': 130, 'toCurrency': None, 'averageVolume10days': 5850510, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': 1552521600, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 124.2334, 'currency': 'USD', 'regularMarketVolume': 4558613, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 10178447360, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 5069314, 'dayLow': 124.2334, 'ask': 134.18, 'askSize': 800, 'volume': 4558613, 'fiftyTwoWeekHigh': 344.66, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 77.58, 'bid': 133.36, 'tradeable': False, 'dividendYield': None, 'bidSize': 1200, 'dayHigh': 138.1, 'regularMarketPrice': 133.7, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/gamestop.com'}
                  Open        High         Low       Close    Volume  \
Date
2002-02-13    6.480513    6.773399    6.413183    6.766666  19054000
2002-02-14    6.850829    6.864295    6.682504    6.733001   2755400
2002-02-15    6.733000    6.749832    6.632005    6.699335   2097400
2002-02-19    6.665672    6.665672    6.312190    6.430017   1852600
2002-02-20    6.463681    6.648839    6.413183    6.648839   1723200
...                ...         ...         ...         ...       ...
2022-05-27  141.000000  143.699997  127.000000  137.210007   7511300
2022-05-31  137.210007  139.929993  120.519997  124.739998   4771100
2022-06-01  122.820000  129.589996  117.010002  121.400002   3747900
2022-06-02  119.000000  136.500000  115.559998  134.000000   6979700
2022-06-03  130.000000  138.100006  124.230003  133.699997   4550500

            Dividends  Stock Splits
Date
2002-02-13        0.0           0.0
2002-02-14        0.0           0.0
2002-02-15        0.0           0.0
2002-02-19        0.0           0.0
2002-02-20        0.0           0.0
...               ...           ...
2022-05-27        0.0           0.0
2022-05-31        0.0           0.0
2022-06-01        0.0           0.0
2022-06-02        0.0           0.0
2022-06-03        0.0           0.0

[5113 rows x 7 columns]

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [17]:
gme_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2002-02-13,6.480513,6.773399,6.413183,6.766666,19054000,0.0,0.0
2002-02-14,6.850829,6.864295,6.682504,6.733001,2755400,0.0,0.0
2002-02-15,6.733000,6.749832,6.632005,6.699335,2097400,0.0,0.0
2002-02-19,6.665672,6.665672,6.312190,6.430017,1852600,0.0,0.0
2002-02-20,6.463681,6.648839,6.413183,6.648839,1723200,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html>. Save the text of the response as a variable named `html_data`.

In [18]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html'
html_data = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [20]:
soup = BeautifulSoup(html_data, 'html.parser')

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Quarterly Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column using a method similar to what you did in Question 2.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [51]:
read_html_pandas_data = pd.read_html(html_data)
gme_revenue = read_html_pandas_data[1]
print(gme_revenue)

   Tesla Quarterly Revenue(Millions of US $)  \
0                                 2022-03-31
1                                 2021-12-31
2                                 2021-09-30
3                                 2021-06-30
4                                 2021-03-31
5                                 2020-12-31
6                                 2020-09-30
7                                 2020-06-30
8                                 2020-03-31
9                                 2019-12-31
10                                2019-09-30
11                                2019-06-30
12                                2019-03-31
13                                2018-12-31
14                                2018-09-30
15                                2018-06-30
16                                2018-03-31
17                                2017-12-31
18                                2017-09-30
19                                2017-06-30
20                                2017-03-31
21                                2016-12-31
22                                2016-09-30
23                                2016-06-30
24                                2016-03-31
25                                2015-12-31
26                                2015-09-30
27                                2015-06-30
28                                2015-03-31
29                                2014-12-31
30                                2014-09-30
31                                2014-06-30
32                                2014-03-31
33                                2013-12-31
34                                2013-09-30
35                                2013-06-30
36                                2013-03-31
37                                2012-12-31
38                                2012-09-30
39                                2012-06-30
40                                2012-03-31
41                                2011-12-31
42                                2011-09-30
43                                2011-06-30
44                                2011-03-31
45                                2010-12-31
46                                2010-09-30
47                                2010-06-30
48                                2010-03-31
49                                2009-12-31
50                                2009-09-30
51                                2009-06-30

   Tesla Quarterly Revenue(Millions of US $).1
0                                      $18,756
1                                      $17,719
2                                      $13,757
3                                      $11,958
4                                      $10,389
5                                      $10,744
6                                       $8,771
7                                       $6,036
8                                       $5,985
9                                       $7,384
10                                      $6,303
11                                      $6,350
12                                      $4,541
13                                      $7,226
14                                      $6,824
15                                      $4,002
16                                      $3,409
17                                      $3,288
18                                      $2,985
19                                      $2,790
20                                      $2,696
21                                      $2,285
22                                      $2,298
23                                      $1,270
24                                      $1,147
25                                      $1,214
26                                        $937
27                                        $955
28                                        $940
29                                        $957
30                                        $852
31                                        $769
32                                        $621
33                                        $615
34                                        $431
35                                        $405
36                                        $562
37                                        $306
38                                         $50
39                                         $27
40                                         $30
41                                         $39
42                                         $58
43                                         $58
44                                         $49
45                                         $36
46                                         $31
47                                         $28
48                                         $21
49                                         NaN
50                                         $46
51                                         $27

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [24]:
gme_revenue.tail()

,GameStop Quarterly Revenue(Millions of US $),GameStop Quarterly Revenue(Millions of US $).1
57,2006-01-31,"$1,667"
58,2005-10-31,$534
59,2005-07-31,$416
60,2005-04-30,$475
61,2005-01-31,$709

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`. Note the graph will only show data upto June 2021.

In [55]:
make_graph(Tesla_data, Tesla_revenue, 'Tesla')

NameError: name 'Tesla_revenue' is not defined

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

In [54]:
make_graph(gme_data, gme_revenue, 'GameStop')

AttributeError: 'DataFrame' object has no attribute 'Date'

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2022-01-01">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description          |
| ----------------- | ------- | ------------- | --------------------------- |
| 2022-02-28        | 1.2     | Lakshmi Holla | Changed the URL of GameStop |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part   |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab         |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>